.boton-postulacion {
    width: 150px;
    height: 150px;
    background-color: #432a78;
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.boton-postulacion span {
    transform: rotate(-20deg);
}