@font-face {
    font-family: 'lira_sansblack_italic';
    src: url('../fonts/lirasans-bookitalic-webfont.woff2') format('woff2'),
         url('../fonts/lirasans-bookitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'lira_sansblack_italic';
    src: url('../fonts/lirasans-regular.woff2') format('woff2'),
         url('../fonts/lirasans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
ul{
    font-size: 0.8 em;
}
a{
     color: #3C1E66;
}
a:hover{
    color: #B48DC0;
}

body{
   background-color: #F3F3F3;
   color: #666;
   font-family: 'lira_sansblack_italic', Arial, sans-serif;
   font-style: normal;
}
h1{
font-family: 'lira_sansblack_italic', Arial, sans-serif;
   font-style: strong;
   font-size: 1.5em;

}

h2{
     font-family: 'lira_sansblack_italic', Arial, sans-serif;
   font-style: italic;
   font-size: 2em;
   color: #3C1E66;

}
blockquote{
        border-left: none;
}
cite{
       color: #3C1E66;

}
.imgBienvenida{
     max-width: 127%;
}
*{
    padding: 0;
    margin: 0;
}
.logoLink{
    margin-left: -25%;
    margin-right: 0%;
    max-width: 75%;
}
.bordes{
    border: 0px solid red;
}
.carrusel{
    height: auto;
}

.deshabilitado {
    color: grey !important; 
    text-decoration: line-through !important;
    pointer-events: none;
}

.deshabilitado:hover{
    color: grey !important; 
    text-decoration: line-through !important;
    pointer-events: none;
}

.margen{
    margin-top: 1%;
}

.fotoTop{
    position: relative;
    top: 10px;
    right: 0px;
    z-index: 1;
} 
.globos{
     max-width:130px;
    margin-left: auto;
    margin-right: auto;
}
.card{
    border:0px ;
    margin-top:40px;
    background: none;
    color: #666;
    text-align: center;
}
.card-section {
  text-align: justify;
  hyphens: auto;
   word-break: break-word; 
  overflow-wrap: break-word; 
}
.grid-contenido{
    padding-left: 10%;
    padding-right: 10%;
}

.bgImg{
    background-image: url("../img/web_chilcos_bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -180px;
}
.fotoTopI{
    position: absolute;
    top: 10px;
    right: 20%;
    z-index: 1;
}

.fotoTopI:hover{
    transform: scale(1.1);
}

.grid-x {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
}

.menu {
    display: flex;
    justify-content: center; /* Centra horizontalmente los elementos del menú */
    align-items: center; /* Centra verticalmente los elementos del menú */
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 10px; /* Espaciado entre los elementos del menú */
}

/* Tabla */

table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px 0;
            text-align: left;
        }

th, td {
            padding: 12px 15px;
            border: 0px;

        }

th {
            background-color: #DFB8EE;
            color: #3C1E66;
        }

tr:nth-child(even) {
              background-color: #F3F3F3;
        }

caption {
            caption-side: bottom;
            padding: 10px;
            font-size: 20px;
            font-weight: bold;
            color: #3C1E66;
        }

tbody td{
    padding: 5px 5px;
}


/* Media Queries for Responsiveness */
@media (max-width: 1480px) {
    .fotoTopI{
    right: 6%;
}}

@media (max-width: 1024px) {
    .imgBienvenida{
        max-width: 100%;
    }
        .logo{
        margin-left: 5%;
        max-width: 200px;
    }
    .fotoTopI{
        right: 2%;
        max-width: 25%;
    }
    .menu{
        margin-left: 7%;
    }
    .imgHead{
        width: 100%;
        height: 220px;
        background-attachment: fixed;
        background-position: top center;
    }
}


@media (max-width: 480px) {
    .imgBienvenida{
        max-width: 100%;
    }
        .logo{
        margin-left: 25%;
        max-width: 180px;
        
    }
    .fotoTopI{
        position: absolute;
        top: 5px;
        right: 0px;
        max-width: 25%;
    } 
    .menu {
        margin-left: 0px;

    }
    .bgImg {
        background-image:none;
    }
    .grid-contenido{
        padding-left: 5%;
        padding-right: 5%;
    }
    .imgHead{
        background-size: 200%;
        background-attachment: fixed;
        height: 220px;
        background-position: center 100px;

    }
    .globos{
        max-width: 220px;
        margin-left: auto;
        margin-right: auto;
    }
}