@font-face {
    font-family: 'lira_sansblack_italic';
    src: url('../fonts/lirasans-bookitalic-webfont.woff2') format('woff2'),
         url('../fonts/lirasans-bookitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'lira_sansblack_italic';
    src: url('../fonts/lirasans-regular.woff2') format('woff2'),
         url('../fonts/lirasans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.grid-container {
    padding-top: 0 !important;   /* Foundation agrega 1rem por defecto */
}

ul{
    font-size: 0.8 em;
}
a{
     color: #3C1E66;
}
a:hover{
    color: #B48DC0;
}

body{
   background-color: #F3F3F3;
   color: #666;
   font-family: 'lira_sansblack_italic', Arial, sans-serif;
   font-style: normal;
}
h1{
font-family: 'lira_sansblack_italic', Arial, sans-serif;
   font-style: strong;
   font-size: 1.5em;

}

.logoLink{
    margin-left: -35%;
    margin-top: -2%;
    max-width: 45%;
}

.carrusel{
    height: auto;
}

.grid-contenido{
    padding-left: 10%;
    padding-right: 10%;
}

.grid-x {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
}

.menu {
    display: flex;
    justify-content: center; /* Centra horizontalmente los elementos del menú */
    align-items: center; /* Centra verticalmente los elementos del menú */
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 10px; /* Espaciado entre los elementos del menú */
}